html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
  background-color: #bebebe;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header, h2, h3 {
  font-family: PT Sans Narrow, serif;
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

img {
  display: block;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  background-color: #bd027d;
  padding: 3rem;
  margin: 0;
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #eccee2;
  border: 2px solid #960062;
  border-radius: 6px;
  padding: 1rem;
}

nav li
a:hover {
  color: #000;
  background-color: #fff;
}

nav {
  grid-row: 1 / 3;
  grid-column: 1 / -1;
}

strong {
  font-style: italic;
}

h1 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  margin: 0;
  z-index: 10;
}

main p {
  border-bottom: 2px solid #afafaf;
  margin: 2rem 1.5rem;
  padding: 1rem 0;
}

h2 {
  margin: 1.5rem;
}
